<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="robots" content="NOINDEX, NOARCHIVE, NOFOLLOW">
        <title>Really unsubscribe?</title>
    </head>
    <body>
        <h1>Really unsubscribe?</h1>
        <p>Please press the button below to confirm that you wish to unsubscribe from our newsletter.</p>
        <form method="post">
            {% csrf_token %}
            <p><input type="submit" value="Unsubscribe"></p>
        </form>
    </body>
</html>